  /* style.css */

html, body, #root, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

nav {
  background-color: #000000;
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  
}

li {
  color: rgb(219, 219, 219);
  cursor: pointer;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  
}

li:hover {
  color: azure;
}

.info-rectangle {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  width: 120px;
  border-radius: 5px;
  color: white;
  text-align: center;
}


